target/
.idea/
.project
.settings/
sim-app/.project
sim-app/.classpath
sim-app/.settings/
sim-core/.project
sim-core/.classpath
sim-core/.settings/
sim-web/.project
sim-web/.classpath
sim-web/.settings/