target/
docs/static-analysis/
.idea/
.project
.parasoft
.settings/
sim-app/.project
sim-app/.classpath
sim-app/.settings/
sim-core/.project
sim-core/.classpath
sim-core/.settings/
sim-playwright/.project
sim-playwright/.classpath
sim-playwright/.settings/
sim-web/.project
sim-web/.classpath
sim-web/.settings/
sim-email/.project
sim-email/.classpath
sim-email/.settings/
logs/